%div.row
  %div.col-md-2
  %div.col-md-8
    %div.jumbotron.text-center
      %h1
        Blocopedia!
      %p Create and share markdown wikis
      %p 
        -if !user_signed_in?
          = link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary btn-lg"
  %div.col-md-3
  %div.col-md-6.text-center
    -if user_signed_in?
      -if policy(current_user).upgrade?
        = form_tag charges_path do  
          = javascript_include_tag "https://checkout.stripe.com/v2/checkout.js", 
            :class => "stripe-button", 
            :"data-key" => "#{Rails.configuration.stripe[:publishable_key]}", 
            :"data-label" => "Upgrade to Premium Now!",
            :"data-panel-label" => "Submit payment for",
            :"data-name" => "Bloc Wiki",
            :"data-address" => "true",
            :"data-amount" => "1500"